# local package
-e .

# external requirements
click==7.0
Sphinx==2.4.4
coverage==5.0.3
awscli==1.18.16
python-dotenv>=0.5.1

fire==0.2.1
jupyter==1.0.0
matplotlib==3.2.0
numpy==1.18.1
pandas==1.0.1
schema==0.7.1
scipy==1.4.1
python-dateutil==2.8.1
h5py==2.10.0